.git
.github
.gitignore
.gitattributes
.git-message.txt

.env
.env.backup
.env.production
.env.testing

node_modules
public/build
public/hot
public/storage

vendor
bootstrap/cache/packages.php
bootstrap/cache/services.php

storage/app
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs

docs
scratch
tests
composer.phar
phpunit.xml
phpstan.neon
pint.json
phpunit.xml.dist

npm-debug.log
yarn-error.log
.Folder_Sementara
